# Web Scraping

## This code will that working once any change is made in the html tags,
## but the concept remains the same

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.fifa.com/fifa-world-ranking/ranking-table/men/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
print('HTML Data is loaded')

HTML Data is loaded

In [4]:
soup.find('h1')

<h1 class="fi-ranking-schedule__title">
          Men's Ranking
        </h1>

In [7]:
soup.find_all('h2')[0].text

'FIFA/Coca-Cola World Ranking'

In [14]:
soup.find_all('span', class_='fi-t__nText').__len__()

210

In [17]:
t_names = [i.text for i in soup.find_all('span', class_='fi-t__nText')]
t_rankings = [i.text for i in soup.find_all('td', class_='fi-table__td fi-table__points')]
t_prev_rankings = [i.text for i in soup.find_all('td', class_='fi-table__td fi-table__prevpoints')]
print('Data is converted into list')

Data is converted into list

In [23]:
d_ranks = dict(zip(t_names,t_rankings))
d_prev_ranks = dict(zip(t_names, t_prev_rankings))
print('Data is converted into dictionaries')

Data is converted into dictionaries

In [24]:
d_ranks['Belgium']

'1780'

In [25]:
d_prev_ranks['Belgium']

'1780'

In [36]:
soup.find('a', class_='fi-t__link')['href']

'/fifa-world-ranking/associations/association/BEL/men/'

In [35]:
soup.find_all('a', class_='fi-t__link')[0]['href']

'/fifa-world-ranking/associations/association/BEL/men/'

# Deep scraping

### Fifa has made some certain changes in there site, and for this reason, this below deep scraping code
### is no longer working, but the concept is still the same. All you have to is change some certain html tags.

In [37]:
url = 'https://www.fifa.com' + soup.find('a', class_='fi-t__link')['href']
response = requests.get(url)
avg_soup = BeautifulSoup(response.text, 'html.parser')
print(avg_soup.find_all('span', class_='fi-rankings-bignumber--data'))

[]

In [ ]:
avg_ranks = []
for i in range(0,5):
    url = 'https://www.fifa.com' + soup.find_all('a', class_='fi-t__link')[i]['href']
    response = requests.get(url)
    avg_soup = BeautifulSoup(response.text, 'html.parser')
    print(t_names[i], avg_soup.find_all('span', class_='fi-rankings-bignumber--data')[-1].text.strip())
    avg_ranks.append(avg_soup.find_all('span', class_='fi-rankings-bignumber--data')[-1].text.strip())

In [40]:
import pandas as pd

In [45]:
df = pd.DataFrame(columns=['Team','Total Points','Previous Points'])
for i in range(0,210):
    df.loc[i] = [t_names[i], t_rankings[i], t_prev_rankings[i]]

In [46]:
df.head()

       Team Total Points Previous Points
0   Belgium         1780            1780
1    France         1755            1755
2    Brazil         1743            1743
3   England         1670            1670
4  Portugal         1662            1662

In [47]:
df.to_csv('fifa_team_info.csv')